{{ define "login" }}
  {{ template "header" . }}
    {{ if $.firebase_config}}
        <script type="text/javascript">
            // Initialize the FirebaseUI Widget using Firebase.
            var ui = new firebaseui.auth.AuthUI(firebase.auth());
            // Auto sign-in for returning users is enabled by default except when prompt is
            // not 'none' in the Google provider custom parameters. To manually disable:
            ui.disableAutoSignIn();
            // The start method will wait until the DOM is loaded.
            ui.start('#firebaseui-auth-container', uiConfig);
        </script>
    {{ end }}
    <main role="main">
        <div class="py-5">
            <div class="container bg-light py-1 px-lg-5 py-lg-1">
                <div class="row py-1 my-2">
                    <div class="col-12 col-lg-8 offset-lg-2 text-center">
                        <h2>Hipster App Login</h2>
                        <hr/>
                        {{ template "alert" . }}
                        <div id="loading" class="d-block">Loading...</div>
                        <div id="loaded" class="d-none">
                            <div id="user-signed-in" class="d-none">
                              <div id="user-info">
                                <div class="form-row text-center">
                                    <div class="col-lg-3 mb-3">Name:</div>
                                    <div class="col-lg-8 mb-3">
                                        <input id="name" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-3 mb-3">Email:</div>
                                    <div class="col-lg-8 mb-3">
                                        <input id="email" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div id="id-token-label" class="col-lg-3 mb-3"></div>
                                    <div class="col-lg-8 mb-3">
                                        <input id="id-token" readonly class="form-control"style="text-overflow: ellipsis;">
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col">
                                    </div>
                                    <div class="col-lg-5 mb-3">
                                        <button id="sign-out" class="btn btn-primary btn-block" type="submit">Sign Out</button>
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="user-signed-out" class="d-none">
                            <h4>You are signed out.</h4>
                            <div id="firebaseui-auth-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{ template "footer" . }}

    <script src="static/js/login.js"></script>

{{ end }}
